{% extends 'base.html.twig' %}

{% block body_id 'manager_index' %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Crédits</th>
                <th>Résultat (/20)</th>
            </tr>
        </thead>
        <tbody>

        {% for domain in domains %}
            <tr>
                <td class="active">{{ domain.label }}</td>
                <td></td>
                {% set total = 0 %}
                {% set markCount = 0 %}
                {% for subject in domain.subjects %}
                        {% for mark in subject.marks if mark.student.id == studentId %}
                            {% set total = total + mark.value %}
                            {% set  markCount = markCount +1 %}
                        {% endfor %}
                {% endfor %}
                {% set domainAverage = total/markCount %}
                <td class="{% if domainAverage > 10 %}success{% else %}danger{% endif %}">{{ domainAverage }}</td>
            </tr>
            {% for subject in domain.subjects %}
                <tr>
                    <td>{{ subject.label }}</td>
                    <td>??</td>
                    {% set currentMark = 0 %}
                    {% for mark in subject.marks if mark.student.id == studentId %}
                        {% set currentMark = mark.value %}
                    {% endfor %}
                    <td>{{ currentMark }}</td>
                </tr>
            {% endfor %}
        {% else %}
            Aucune note
        {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {
        'template': 'blog/about.html.twig',
        'sharedAge': 600,
        '_locale': app.request.locale
    })) }}
{% endblock %}
