{% extends 'base.html.twig' %}

{% block body_id 'manager_index' %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for student in students %}
            <tr>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>
                    <a href="{{ path('manager_student_marks', { studentId: student.id }) }}">Consulter les résultats</a>
                    <a href="{{ path('manager_academic_transcript', { studentId: student.id }) }}">Syntèse de résultats</a>
                </td>
            </tr>
        {% else %}
            Aucun étudiant trouvé
        {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
