{% extends 'base.html.twig' %}

{% block body_id 'manager_student_marks' %}

{% block main %}
    <div class="text-center">
        <p>Notes de {{ student.fullName }}</p>
    </div>
    <a href="{{ path('mark_new', { id: student.id }) }}" class="btn btn-default pull-right" data-step="3" data-intro="Vous pouvez également saisir un nouveau résultat pour l'élève">Nouvelle note</a>
    <table class="table" data-step="1" data-intro="Ce tableau liste tous les résulats de l'élève">
        <thead>
            <tr>
                <th title="date de passage de l'épreuve">Le</th>
                <th>Matière</th>
                <th>Domaine</th>
                <th>Coefficient</th>
                <th>Résultat (/20)</th>
                <th>Retenue</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for mark in student.marks %}
            <tr class="{% if mark.value < 7 %}danger{% endif %}">
                <td>{{ mark.date|date('d/m/Y') }}</td>
                <td>{{ mark.subject.label }}</td>
                <td>{{ mark.subject.domain.label }}</td>
                <td>{{ mark.subject.coefficient }}</td>
                <td>{{ mark.value }}</td>
                <td>{% if mark.inAcademicTranscript %}Oui{% else %}Non{% endif %}</td>
                <td>
                    <a href="{{ path('mark_edit', { id: mark.id}) }}" class="btn btn-default" data-step="2" data-intro="Vous pouvez éditer un résultat">Editer</a>
                </td>
            </tr>
        {% else %}
            Aucune note
        {% endfor %}
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a class="btn btn-lg btn-block btn-default" href="{{ path('manager_academic_transcript', { id: student.id}) }}" data-step="4" data-intro="Vous pouvez passer à l'écran de synthèse de résultats pour l'élève">Synthèse de résultats</a>
    </div>
    {{ parent() }}
{% endblock %}
